.MuiFormControl-root {
    &:hover {
        > .MuiInputBase-root {
            > .MuiOutlinedInput-notchedOutline {
                border-color: white;
            }
        }
    }

    > .MuiFormLabel-root {
        color: rgb(201, 201, 201);
    }

    > .MuiFormLabel-root.Mui-focused {
        color: rgb(230, 172, 222) !important;
    }

    > .MuiInputBase-root.Mui-focused {
        > .MuiOutlinedInput-notchedOutline {
            border-color: rgb(230, 172, 222);
        }
    }

    > .MuiInputBase-root {
        color: white;

        > .MuiOutlinedInput-notchedOutline {
            transition: .1s;
            border: 2px solid rgb(201, 201, 201);
        }
    }
}
